.App{
  position: relative;
}

#Particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.Header{
  background-image: linear-gradient(to bottom right, #201616 0%, #291c30 90%);
}

.pdf-page {
  position: relative;
}

.pdf-page .react-pdf__Page__textContent {
  transform: scale(1);
  transform-origin: top left;
  z-index: 2;
  pointer-events: none; /* Prevent the text layer from blocking interaction */
}

.pdf-page .react-pdf__Page__canvas {
  z-index: 1;
  pointer-events: auto; /* Ensure interaction works on the canvas */
}
  